.bg-img {
    /* background-image: url('/static/images/pngtree-todo-teach-play-memo-photo-image_1347688.jpg'); */
    background-image: url('/static/images/premium_photo-1683309563255-fef9e541cdec.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
