.bg-img {
    background-image: url('/static/images/pngtree-todo-teach-play-memo-photo-image_1347688.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
